* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.Title {
  width: 30vw;
  height: 450px;
  margin-right: 0;

  &-wrap {
    position: fixed;
    top: 29%;
    left: 6.5%;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    color: #5BA3E4;

    &-sub {
      color: #8170FA;
    }
  }
}